body,
html,* {

    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
}


.container{ 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}
.card{
    height: 50vh;
    width: 23%;
    background-color: rgba(207, 103, 211, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
    -webkit-backdrop-filter: blur(25px) saturate(20%);
    border-radius: 12px;
    border: 5px solid rgb(214, 100, 237);
    box-shadow: 10px 10px rgb(192, 21, 192);
    transition: all 0.3s;
}


@media screen and (max-width: 1000px) {
  .card {
    width: 40%;}
  
}

@media screen and (max-width: 812px) { 
  .card {
    width: 100%}
  }
    

.card:hover
{
    transform:scale(1.1)   
}

.card-title{
    font-size: 2.2rem;
    margin: 0.5rem 0;
    text-transform:uppercase
}

.card-title:hover
{
    color: rgb(224, 95, 214);
}
.card-img {
    width: 65%;
    transition: all 0.5s;
}

.card-img:hover
{
    transform: translateY(-15px);
    filter: grayscale(50%);

}
.cardprice {
    font-size: 2.2rem;
    transition: all 0.3s;

}
.cardprice:hover
{
    transform: rotate(25deg);
}

.title {
    
    font-size: 5rem;
    background-color: rgba(207, 103, 211, 0.2);
    margin: 4rem auto;
    text-align: center;
    width: 100rem;
    -webkit-backdrop-filter: blur(25px) saturate(10%);
    border-radius: 12px;
    border: 1px solid rgb(214, 100, 237);
    box-shadow: 10px 10px rgb(192, 21, 192);
    transition: all 0.3s;
    
}

path {
    transform-origin: 50% 0%;
  }
  .background--custom {
    background-color: #FFFFFF;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
  }
  @keyframes path0 {
    0% {
      transform: rotate(50deg);
    }
    100% {
      transform: rotate(-50deg);
    }
  }
  @keyframes path1 {
    0% {
      transform: rotate(-40deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }
  @keyframes path2 {
    0% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }
  @keyframes path3 {
    0% {
      transform: rotate(-60deg);
    }
    100% {
      transform: rotate(60deg);
    }
  }
  